/* Header.css */

body, html {
  margin: 0;
  padding: 0;
}

.header {
  height: 15vh;
  background: #000000;
  padding: 30px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.logo-image {
  width: 210px;
  height: 115px;
}
  

